<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BookStay</title>
    <%- include('headerLinks') %>
</head>

<body>
  <%- include('navComponent') %>
    
        <!-- Card Carousel -->

        <div class="row row-cols-1 row-cols-md-4 g-4" id="card-carousel-container">
            
        </div>

        <!-- <div class="row justify-content-center"> -->
            <div class="text-center">
                <button class="btn btn-dark" id="show-more">Show more</button>
            </div>
     

        <%- include('footerScripts') %>
        <script src="/javascript/home.js" type="application/javascript"></script>
    </div>
</body>

</html>